.displayArea {
  margin: 10px;
}

.displayArea h1 {
  display: flex;
  justify-content: center;
}

.displayArea p {
  display: flex;
  justify-items: center;
  border-style: double;
  border-color: black;
  margin: 2px;
  padding: 10px;
} 
